@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Jersey+10&display=swap');
* {
    margin: 0;
    padding: 0;
}

.caixa {
    position: fixed;
    top: 100px;
    left: 0;
    padding: 10px;
}

.opcao {
    border-right: 5px solid black;
    padding: 10px;
    height: 50%;
    width: 70px;
    text-align: center;
    line-height: 12px ;
    margin-left: -80px;
    border-radius: 5px;
    font-family: "Jersey 10", sans-serif;
}

.op1 {
    position: absolute;
    top: 0px;
    left: 0;
    background-color: lightblue;
}
.op2 {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: yellow;
}
.op3 {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: pink;
}
.op4 {
    position: absolute;
    top: 120px;
    left: 0;
    background-color: green;
}
.op5 {
    position: absolute;
    top: 160px;
    left: 0;
    background-color: rgb(211, 20, 20);
}

.op1:hover, .op2:hover, .op3:hover, .op4:hover,.op5:hover {
    margin-left: 0;
    transition: 0.5s ease-in;
}

.op1:not(:hover), .op2:not(:hover), .op3:not(:hover), .op4:not(:hover),.op5:not(:hover) {
    transition: 0.5s ease-out;
}