* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    height: 60px;
    background-color: rgb(4, 4, 126);
}

.cabecalho ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.cabecalho li {
    margin: 0 20px;
}

.cabecalho {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho a:active, a:visited, a{
    color: white;
    text-decoration: none;
}

.cabecalho a:hover {
    text-decoration: underline;
}

.img-topo {
    height: 300px;
    width: 100%;

}

main section {
    width: 1200px;
    margin: auto;
    padding: 50px;
}

main section:nth-of-type(odd) {
    background-color: lightgray;
}

main section:nth-of-type(even) {
    background-color: white;
}

main section h1 {
    font-size: 35px;
    text-transform: uppercase;
}

main section p {
    margin: 20px 0;
    text-align: justify;
}

main section button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}

main section button:hover {
    background-color: orangered;
    cursor: pointer;
}

.destaque {
    font-size: 24px;
    font-weight: bold;
}

.img-menor {
    width: 45px;
}

.section-2 {
    margin: 20px 0;
}

.corAzul {
    background-color: rgb(3, 3, 77);
}

main section:nth-of-type(2){
    background-color: white;
}

.servicos img{
    width: 90%;
}

.servicos div {
    text-align: center;
}

.section-3-flex {
    display: flex;
}

.section-3-flex > div {
    width: 100%;
    padding: 20px;
}

.quemSomos {
    display: flex;
    justify-content: space-around;
    padding: 20px;  
}

.quemSomos div {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.compromissos {
    display: flex;
}

.container-compromissos {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.ultimaSessao {
    display: flex;
    flex-direction: column;

    align-items: center;
}

footer {
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}